{{- /*gotype: gs/parser.Service*/ -}}
package main

import (
	genSvc "{{ .Config.Module }}/gen/services/{{ .Name }}"
	service "{{ .Import }}"
	"github.com/aws/aws-lambda-go/lambda"
	chiadapter "github.com/awslabs/aws-lambda-go-api-proxy/chi"
)

func main() {
	svc := genSvc.New(
		service.New(),
	)
	lambda.Start(chiadapter.NewV2(svc.Router()).Proxy)
}
