import { SSTConfig } from "sst";
import {addGenStack} from "./stacks/gen";

export default {
  config(_input) {
    return {
      name: "{{ .Name }}",
      region: "us-east-1",
    };
  },
  stacks(app) {
    addGenStack(app)
  }
} satisfies SSTConfig;
